// Widescreens
@include mediaXl {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}

// Desktop & Laptops
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

// Tablets & Small Laptops
@include mediaMd {
    main {
        align-items: center;
        text-align: center;
        padding: 5rem 2rem 5rem 2rem;
        
        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }

        .sm-heading {
            font-size: 32px;
        }
    }
    
    ul.menu-nav, div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(100%, 0, 0);
        font-size: 25px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(-100%, 0, 0);

        .portrait {
            background: url(../img/Mira_fb_150_crop.jpg);
            width: 150px;
            height: 150px;
            min-height: 150px;
            min-width: 150px;
        }
    }

    .about-info {
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';

        grid-template-columns: 1fr;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}


// Smartphones
@include mediaSm {
    main {
        padding: 5rem 1.5rem 5rem 1.5rem;
    }

    .lg-heading {
        line-height: 1;
        margin-bottom: 1rem;
    }

    .menu-branding {
        .portrait {
            background: url(../img/Mira_fb_125_crop.jpg);
            width: 125px;
            height: 125px;
            min-height: 125px;
            min-width: 125px;
        }
    }

    .projects {
        grid-template-columns: 1fr;
    }
}

@include mediaXs {
    main {
        .lg-heading {
            font-size: 52px;
        }

        .sm-heading {
            font-size: 22px;
        }
    }

    .boxes {
        div {
            font-size: 0.9rem;
            padding: 0.3rem 0.5rem 0.3rem 0.5rem;
        }
    }
}